<h1>Home Page</h1>

<p>
    <ul>
        <li>
            <h3>Click here <a href="/employees/list"><img class="img-circle imgwidth" src="/images/list.jpg" 
alt="List of employee"/></a> to view List of employee</h3>
        </li>
        <li>
            <h3>Click here <a href="/employees/add"><img class="img-circle imgwidth" src="/images/add.jpg" 
            alt="Add employee"/></a> to add employee</h3>
        </li>
    </ul>
</p>
{{!--HandleBar Helper Functions instance--}}
{{!--<p>{{test}}</p>
<p>{{test1 10}}</p>--}}









